{
    "APP_VERSION": "0.0.1",
    "APP_NAME": "Sample App",
    "DESCRIPTION": "sample app",
    "INSTITUTION": "none",
    "AUTHOR_NAME": "Kenneth",
    "APP_KEY": "ydlkuNysdELVc&OqGAKLveMjVqxFoHhAFP0s#MUffMBFaS!s"
}